<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume/CV</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <style href="{% static 'css/style.css' %}" ></style> -->
    
    
</head>
<body>
    <div class="menu">
        <div class="menu_icon">
            <div class="icon">
                <i class="fas fa-cog"></i>
            </div>
        </div>
    </div>
    <div class="munu_color">
        <div class="colors">
            <div class="colors_title">
                <p >Style Switcher</p>
            </div>
            <div class="red"></div>
            <div class="blue"></div>
            <div class="yellow"></div>
            <div class="green"></div>
            <div class="black"></div>
            <div class="body_colors_title">
                <p >Body Skin</p>
            </div>
            <input type="radio" id="light" name="color" value="checked">
            <label for="light">Light</label>
            <input type="radio" id="dark" name="color" value="checked">
            <label for="dark">Dark</label>
        </div>
    </div>
    <div class="resume">
        <div class="resume_left">
            <div class="resume_profile">
                <img src="{% static 'images/me21.jpg' %}" alt="" alt="profile_pic">
            </div>
            <div class="resume_content">
                <div class="resume_item resume_info">
                    <div class="title">
                        <p class="bold">shukur ziyodullayev</p>
                        <p class="regular">Front End Developer</p>
                    </div>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-map-signs"></i>
                            </div>      
                            <div class="data">
                                84/6, 1-daha Bo'zbozor,<br>
                                Mirzo Ulugbek district, Tashkent. 
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="data">
                               +99899 894 07 21 
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-envelope-square"></i>
                            </div>
                            <div class="data">
                                ziyodullayevshukur <br>1998@gmail.com 
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fab fa-weebly"></i>
                            </div>
                            <div class="data">
                                www.shukur.uz 
                            </div>
                        </li>
                    </ul>
                </div> 
                <div class="resume_item resume_skills">
                    <div class="title">
                        <p class="bold">skill's</p>
                    </div>
                    <ul>
                        <li>
                            <div class="skill_name">
                                HTML
                            </div>
                            <div class="skill_progress">
                                <span style="width: 90%;"></span>
                            </div>
                            <div class="skill_per">90%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                Css
                            </div>
                            <div class="skill_progress">
                                <span style="width: 80%;"></span>
                            </div>
                            <div class="skill_per">80%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                Bootstrap
                            </div>
                            <div class="skill_progress">
                                <span style="width: 60%;"></span>
                            </div>
                            <div class="skill_per">60%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                JavaScript
                            </div>
                            <div class="skill_progress">
                                <span style="width: 50%;"></span>
                            </div>
                            <div class="skill_per">50%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                JQuery
                            </div>
                            <div class="skill_progress">
                                <span style="width: 40%;"></span>
                            </div>
                            <div class="skill_per">40%</div>
                        </li>
                    </ul>
                </div>
                <div class="resume_item resume_social">
                    <div class="title">
                        <p class="bold">socila</p>
                    </div>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div class="data">
                                <p class="semi_bold">
                                    Facebook
                                </p>
                                <p>shukur ziyodullayev@facebook</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fab fa-telegram"></i>
                            </div>
                            <div class="data">
                                <p class="semi_bold">
                                    Telegram
                                </p>
                                <p>@Shukur_Ziyodullayev</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fab fa-instagram-square"></i>
                            </div>
                            <div class="data">
                                <p class="semi_bold">
                                    Instagram
                                </p>
                                <p>shukur_ziyodullayev</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="resume_right">
            <div class="resume_item resume_about">
                <div class="title">
                    <p class="bold">Profile</p>
                </div>
                <p class="p1">I am 22 years old. I am a creative Front End Developer who have been 
                    self learning for 1 year. Now, I can bringing mock-ups to life using  HTML, CSS, Bootstrap, JavaScript and jQuery!</p>
            </div>
            <div class="resume_item resume_work">
                <div class="title">
                    <p class="bold">Experience</p>
                    <p class="semi-bold" style="margin-top: 15px;">Front End Developer</p>
                    
                </div>
                <div class="date" style="margin-top: 15px;">2019 - Present</div>
                <ul>
                    <li class="info_full">
                        <div class="info">
                            <p class="p1">Proficient in Html, Css, Bootstrap, JavaScript and jQuery.</p>
                        </div>
                    </li>
                    <li class="info_css">
                        <div class="info">
                            <p class="p1"><b>Css:</b> can style any HTML tag that creates a visible element on the page.
                                Can style size, color, typeface, alignment,
                                color, style, display, position, float, opacity, border, margins, padding properties of text, image, link
                            </p>
                        </div>
                    </li>
                    <li class="info_bootstrap">
                        <div class="info">
                            <p class="p1"><b>Bootstrap:</b> can easily using grid system, container, button styles, cards, collapse, navigation bars, carousel, icons. </p>
                        </div>
                    </li>
                    <li class="info_script">
                        <div class="info">
                            <p class="p1"><b>JavaScrip:</b> can use operators, data types, functions, Objects, Events, HTML DOM(Events, EventListener).</p>
                        </div>
                    </li>
                    <li class="info_jquery">
                        <div class="info">
                            <p class="p1"><b>jQuery:</b> familiar with jQuery Effects and jQuery HTML</p>
                        </div>
                    </li>
                    <li class="info_last">
                        <div class="info">
                            <p class="p1">Here is I am attaching my <a href="https://github.com/SHUKUR-ZIYODULLAYEV" target="_blank"><b>GitHub</b></a> link. You can kindly review with my projects.</p>
                        </div>
                    </li>
                </ul>
                <div class="title">
                    <p class="semi-bold" style="margin-top: 15px;" >Practising Networking and system administration</p>
                    <p>O'zavtosanoat <br> Amir Temur str,13, 100047 Tashkent (Uzbekistan).<br> www.uzavtosanoat.uz</p>
                </div>
                <div class="date" style="margin-top: 15px;">Jul 2019 - Avg 2019</div>
                <ul>
                    <li class="info_practic1">
                        <div class="info">
                            <p class="p1">training with networking and system administration of local network of company .</p>
                        </div>
                    </li>
                    <li class="info_practic2">
                        <div class="info">
                            <p class="p1">fixing bugs of local network and setting routers.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_education">
                <div class="title">
                    <p class="bold">Education And Training</p>
                </div>
                <ul>
                    <li>
                        <div class="date">2016 - 2020</div>
                        <div class="info">
                            <p class="semi-bold">Bachelor: Turin Polytechnic University. </p>
                            <p>Field of study: Information technology and automation systems in industry.</p>
                        </div>
                    </li>
                    <li>
                        <div class="date">2020</div>
                        <div class="info">
                            <p class="semi-bold">Completed: One Million Uzbek Coders </p>
                            <p>Field of study: Front-End Development </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_hobby">
                <div class="title">
                    <p class="bold">Hobby</p>
                </div>
                <ul>
                    <li><i class="fas fa-book" aria-hidden="true"></i></li>
                    <li><i class="fas fa-swimmer" aria-hidden="true"></i></li>
                    <li><i class="fas fa-music" aria-hidden="true"></i></li>
                    <li><i class="fab fa-pagelines" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>